<h1>Charts Charts Everywhere</h1>

<h4>User Chart by height</h4>
<%= pie_chart User.group(:is_veg).count %>

<h4>User Chart by weight</h4>
<%= pie_chart User.group(:drink).count %>

<%= line_chart User.group(:is_veg), xtitle: "Vegan", ytitle: "Not so vegan" %>

<h4>User category distribution</h4>
<%= area_chart User.group(:category_id).maximum(:id) %>

<h4>Scatter Users by height & weight</h4>
<%= scatter_chart User.pluck(:height, :weight) %>
